.element__like-button {
  margin: 0;
  background-image: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  transition: opacity 1s;
}

.element__like-button:hover {
  opacity: .6;
  cursor: pointer;
}
